<button(click)="functionName()">Search</button>
<button(click)="getAllProducts()">Search</button>
<button(click)="getAllStudents()">Search</button>


<input type ="number">
<button (click)="getStudentsById(101)">Search Student</button>
<button (click)="getAllEmployee(123,'John', True)">search</button>


getAllProducts(){
  //code to perform actions....
}

getAllStudents(){
//we write our code here
}

getStudentById(id: number){
//This function will be executed
}

getAllEmployee(employeeID: number, name: string, presentOrNot: boolean){

}


